body { font-family:verdana; background-color: rgb(3, 90, 26);  color: white; margin: 0; }
.prodtitre { color: white; background-color: pink; text-align: center; border-top: 2px solid white; }
.prodtitre td { padding: 5px; }
.prodtitre:hover { background-color: rgb(0, 221, 255); }
.prodligne:nth-child(odd) { background-color: green; }
.prix { text-align: right; width: 55px; }
.pasprix { text-align: center; width: 55px; }
.btnsoumi { width: 100%;  height: 44px; }
.btnzonad { width: 15%; height: 33px; }
.btnédito { width: 100%; }
.btnX { width: 30px; height: 30px; border-radius: 50%; }
.survol td { padding: 8px; }
.survol:hover { background-color: rgb(0, 221, 255); color: black; }
.lignédit>td { background-color: black; }
#formédit { background-color: black; }
#formradi { background-color: black; font-size: small; }
#formradi td div { display: inline-block; width: 25%; white-space: nowrap; overflow: hidden; }
.surligne { background-color: white; color: black; border-radius: 15px; }
.titrebloc { background-color: black; color:pink; text-align: center; margin-left: -12px; margin-right: -12px; }
.madzane { display:none; }
.numzone { text-align: right; }
#ajoutauto { transform: scale(1.6); margin: 0 11px 0 11px; }

.tdbout { width: 44px; }
.tdbout button { width: 100%; }
.tablesoumi { table-layout: fixed; width:100%; }
.tableprods { width: 100%; border-collapse: collapse; }
.tableprods tr:nth-child(1) { border-top: 0; }

.tableliste { width:100%; height: 1px; border-collapse: collapse; }
.tableliste tr:nth-child(odd) { background-color: green; }
.tableliste tr:nth-last-child(1) { border-top: 2px solid black; background-color: darkred; }
.tableliste tr td { height:100%; }

.tablelycos { width: 100%; background-color: white; color: black; border-collapse: collapse; }
#mesprods { border: 2px solid black; border-radius: 15px; overflow: hidden; }
#maliste { border: 2px solid black; border-radius: 5px; overflow: hidden; }
.suppzone { border: 2px solid black; border-radius: 5px; overflow: hidden; }
.suppzone tr:nth-child(odd) { background-color: green; }

#éditProd { font-size: medium; width: 99%; }
#éditPrix { width: 55px; text-align: right; font-size: medium; width: 99%; }
#lycos { font-size: larger; width: 80%; }
#réponse { width:63.5%; margin-left: 15%; border-radius: 0 0 15px 15px; overflow: hidden; }
.divrech { width:80%; margin-left: 15%; }

#refajou>input { font-size: larger; }
#refajou>input:nth-child(1) { width: 66%; }
#refajou>input:nth-child(2) { width: 32%; text-align: right; float: right; }
#modzone>input { font-size: larger; }
#modzone>input:nth-child(1) { width: 28%; }
#modzone>input:nth-child(2) { width: 66%; float: right; }
#modzone>button { float: right; }

.surjaune { background-color: yellowgreen; color: black; border-radius: 0 9px 9px 0; padding-right: 11px; }
.coliste { width: 12px; height: 108%; margin: -5px 0 -5px -5px; }
.colprod { padding: 5px; border-radius: 11px; }

#phpversion { position:fixed; bottom: 2px; right: 11px; font-size: 0.8em; }
#débougajeu { position:fixed; top: 0px; right: 0px; 
            background-color: rgb(19, 28, 89); border: 1px solid white;
            padding: 11px; border-radius: 9px; font-size: 0.8em; }
/* dans ajax_mesprods, ajax_maliste, ajax_divers, ajax_lycos */
/* commenté .debug pour passer en mode dégugage */
.debug { display: none; }
